astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
contextlib2==0.5.5
funcsigs==1.0.2
importlib-metadata==0.5
more-itertools==4.3.0
path.py==11.3.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.6.0
pytest==3.8.1
PyYAML==3.13
scandir==1.9.0
six==1.11.0
toml==0.9.6
tox==3.4.0
virtualenv==16.0.0
